header {
  color: white;
	background-color: #727272;
	padding-top: 2px;
	padding-bottom: 2px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
}
header h1 {
	padding-left: 15px;
}
